@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
.contact{
    font-family: "Fira Code",sans-serif;
    background-color: #011627;
    height: 100vh;
    display: flex;
    overflow: hidden;
    color: #607B96;
}

.div1{
    background-color: transparent;
    border-right: 1px solid rgb(77, 77, 77);
    height: calc(100vh - 60px - 60px);
    width: 70px;
    transform: translateY(60px);
    display: flex;
    flex-direction: column;
   
}
.div1{
    font-size: 28px;
}
.topicon{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 35px;
}
.bottomicon{
    position: absolute;
    width: 100%;
    gap: 30px;
    bottom: 0;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

/* div2==================================================================================== */


.div2{
    background-color: transparent;
    border-right: 1px solid rgb(77, 77, 77);
    height: calc(100vh - 60px - 60px);
    width: 250px;
    transform: translateY(60px);
}
.div {
    color: #c7b61b;
}
.folder {
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
  .files {
    padding-left: 20px;
  }
  .files2 {
    padding-left: 15px;
  }
  .file9,
  .file10, 
  .file11, 
  .file12,
  .file13,
  .file14{
    margin-left: -12px;
  }

  .file17{
    background-color: #1e2d3d;;
  }


.div3{
    position: absolute;
    border-bottom: 1px solid rgb(77, 77, 77);
    height: 40px;
    width: calc(100% - 70px);
    transform: translateY(60px);
    right: 0;
}

/* div4============================================================================= */
.div4{
    transform: translateY(70px);
    height: calc(100vh - 100px);
    justify-content: center;
}

.div4  h6{
    padding-left: 30px;
    display: flex;
    font-size: 16px;
    color: #607B96;
}

.div4 .line{
    width: 1px;
    background-color: rgb(77, 77, 77);
    height: 40px;
    margin-left: 30px;
    margin-top: -10px;
}
.container{
    width: 500px;
    transform: translateY(-10px);
    height: calc(100vh - 55px);
    border-right: 1px solid rgb(77, 77, 77);
}
.form{
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 80vh;
    display: block;
    padding: 30px 30px;

}
.form label{
    width: min-content;
    display: block;
    padding-top: 20px;
}
.form input{
    background-color: #011221;
    border: 1px solid #607B96;
    border-radius: 5px;
    color: #607B96;
    max-width: 300px;
    width: 100%;
}
.form textarea:focus,
.form input:focus{
    outline: none;
}
.form textarea{
    background-color: #011221;
    border: 1px solid #607B96;
    border-radius: 5px;
    color: #607B96;
    max-width: 300px;
    width: 100%;
    height: 250px;
    resize:vertical;
}

.form button{
    background-color: #1C2B3A;
    border: 1px solid #607B96;
    border-radius: 5px;
    padding: 10px 16px;
    color: #e8e8e8;
}




@media screen and (max-width: 768px) {
    .div1,
    .div2 {
      display: none;
    }
    .div3{
        position: fixed;
        border-bottom: 1px solid rgb(77, 77, 77);
        height: 40px;
        width: calc(100% );
        transform: translateY(60px);
        right: 0;
    }
    .div4{
        transform: translateY(70px);
        height: calc(100vh - 100px);
        justify-content: center;
    }
    .container{
        justify-content: center;
        transform: translateY(-10px);
        height: calc(100vh - 55px);
        border-right: none;
    }
    .form{
        width: 100%;
        height: 80vh;
        display: block;
        padding: 60px 30px;
        margin-bottom: 40px;
    
    }
    .sent{
        
        background-color: #011627;
        justify-content: center;
        text-align: center;
    }
    .sent h1{
        transform: translateY(20vh);
        color: #e8e8e8;
        font-size: 45px;
        padding: 20px 20px;
        align-items: center;
    }
    .sent h3{
        transform: translateY(25vh);
        font-size: 30px;
        padding: 10px 10px;
        color: #607B96;
    }
      
}
@media screen and (max-width: 500px) {
    /* .container{
        width: 100%;
        transform: translateY(-10px);
        height: calc(100vh - 55px);
        border-right: none;
        overflow: scroll;
    } */
    .div4  h6{
        position: fixed;
    }
}