.footer {
  width: 100%;
  background-color: #011627;;
  display: flex;
  justify-content: space-between;
  height: 60px;
  border-top: 1px solid rgb(77, 77, 77);
  border-bottom: 1px solid rgb(77, 77, 77);
  font-family: "Fira Code", sans-serif;
  position: fixed;
  bottom: 0;
  color: #607b96;
  font-size: 18px;
  z-index: 99;
  
}

.left {
  display: flex;
  gap: 30px;
  align-items: center;
  
}
.left .text1 {
  margin-left: 30px;
}
.insta a,
.linked a{
    color: #607b96;
}
.insta,
.linked{
    cursor: pointer;
}
.left ,
.right {
  display: flex;
  gap: 30px;
  align-items: center;
}
.right .git a{
  margin-right: 30px;
  color: #607b96;
  text-decoration: none;
}
.right .git2 a{
  display: none;
}
.line1,
.line2,
.line3,
.line4 {
  width: 1px;
  height: 60px;
  background-color: rgb(77, 77, 77);
}


@media screen and (max-width: 768px){
  .line4{
    width: 1px;
  }
  .right .git {
    display: none;
  }
  .right .git2 a{
    display: block;
    padding-right: 30px;
    color: #607b96;
  }
}